<header class="header">
  <div class="logo-container">
    <img
      ngSrc="/assets/logo.webp"
      alt="Logo"
      class="logo"
      height="512"
      width="512"
      priority
    />
    <div class="locale">
      <a href="">
        <img
          ngSrc="/assets/icons/russia_flag.png"
          alt="Ru"
          class="logo"
          height="256"
          width="256"
        />
      </a>
      <a href="">
        <img
          ngSrc="/assets/icons/united_kingdom_flag.png"
          alt="En"
          class="logo"
          height="256"
          width="256"
        />
      </a>
    </div>
    @if (isAuthenticated()) {
      <div class="user-name">
        Hi, <span class="username">{{ userLogin() }}.</span>
        <button
          class="button-exit"
          (click)="logout()"
        >
          Exit
        </button>
      </div>
    }
  </div>
  @if (isAuthenticated()) {
    <hr class="header__line" />
    <nav class="header__menu">
      <ul class="header__list">
        <li
          class="header__item"
          [routerLink]="['/main']"
          routerLinkActive="header__item_active"
        >
          Main
        </li>
        @if (isAdmin()) {
          <li
            class="header__item"
            [routerLink]="['/users']"
            routerLinkActive="header__item_active"
          >
            Users
          </li>
        }
      </ul>
    </nav>
  }
</header>
