@use 'fonts';
@use 'reset';

:root {
  --error-color: #d80000;
  --primary-color: #cb9cc4;
  --secondary-color: #2a122a;
}

html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

html {
  background-image: url('/assets/fon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.body {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  max-width: 900px;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.no-scroll {
  overflow: hidden;
}

.page__heading {
  font-size: 2rem;
}

.main {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: var(--primary-color);
}
